@using ToDoApp.Web.ViewModels.Task
@model TaskFormModel

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Title" class="form-control" id="floatingInput" placeholder="Title">
        <label for="floatingInput">Title</label>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="small textdanger"></span>
    </div>
    <div class="description form-floating">
        <textarea asp-for="Description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description</label>
    </div>
    <div class="form-group">
        <label asp-for="Priority"></label>
        <select asp-for="Priority" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span asp-validation-for="Priority" class="small textdanger"></span>
    </div>
</form>
