@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Your tasks</h2>
    <hr/>
</div>
    <div>
        <a class="btn btn-primary" asp-controller="Task" asp-action="Add" role="button">Add</a>
    </div>
