@using ToDoApp.Web.ViewModels.Task
@model TaskFormModel
@{
    ViewData["Title"] = "Add Task";
}

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <partial name="_TaskFormPartial" / id="form">

    <input class="btn btn-primary mt-3" id="addButton" type="submit" value="Add" />

</div>

@section Scripts
{
    <partial name="_Styles" />
    <partial name="_ValidationScriptsPartial" />
}