@using ToDoApp.Web.ViewModels.Task
@model List<TaskViewModel>

@{
    ViewData["Title"] = "Done Tasks";
}

<div>
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="d-inline">Your Done Tasks</h2>
        @if (Model.Count != 0)
        {
            <a class="btn btn-primary d-inline" asp-controller="Home" asp-action="Index" role="button">Your tasks</a>
        }
    </div>
    <hr />
</div>
<div>
    @if (Model.Count == 0)
    {
        <div class="mx-auto">
            <h4 class="text-center">You do not have any done tasks yet</h4>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index" role="button">Your tasks</a>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var task in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-2 d-flex align-items-center">
                        <h4>@task.Title</h4>
                        <p>Added on: @task.CreatedOn<p>
                    </div>
                </div>
            }
        </div>
    }
</div>
