@using ToDoApp.Web.ViewModels.Task
@model List<TaskAllViewModel>

@{
    ViewData["Title"] = "Done Tasks";
}

<div>
    <div class="header">
        <div>
            <h2 class="title">Your Done Tasks</h2>
        </div>
        <div class="d-flex align-items-center justify-content-between nav-buttons">
            @if (Model.Count != 0)
            {
                <a asp-controller="Task" asp-action="Index" class="btn btn-primary d-inline">Your tasks</a>
            }
        </div>
    </div>
    <hr />
</div>
<div>
    @if (Model.Count == 0)
    {
        <div class="mx-auto">
            <h4 class="text-center">You do not have any done tasks yet</h4>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" asp-controller="Task" asp-action="Index" role="button">Your tasks</a>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var task in Model)
            {
                <partial name="_TaskPartial" model="@task" />
            }
        </div>
    }
</div>