@using ToDoApp.Web.ViewModels.Task
@model TaskViewModel
@{
    ViewData["Title"] = "Task Details";
}

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <form method="post">
        <div class="form-floating mb-3">
            <input asp-for="Title" class="form-control" id="floatingInput" placeholder="Title">
            <label for="floatingInput">Title</label>
        </div>
        <div class="description form-floating">
            <textarea asp-for="Description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>
        <select class="form-control priority" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <div class="form-floating date">
            <input asp-for="CreatedOn" type="date" readonly class="form-control" id="floatingPassword">
            <label for="floatingPassword">Created on</label>
        </div>

        <div class="buttons">
            <div class="text-center">
                @if (!Model.IsDone)
                {
                    <a asp-controller="Task" asp-action="Done" asp-route-id="@Model.Id" class="btn btn-success">Done</a>
                }
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"></partial>
}